/*design output*/
.title {
  font-size: 20px;
  text-align: center;
  font-weight: bold;
}
.box {
  background-color: rgb(128, 130, 255);
  border-radius: 5px;
  border: 1px solid black;
  margin: 5%;
  padding: 6px;
  width: 90%;
}
.line {
  margin: 2px 0;
}
.box:hover {
  background-color: blue;
  color: aliceblue;
}
