
/*body*/
.main{
  font-family: serif, sans-serif;
    background: linear-gradient(135deg, #0015bc, #000000, #008001);
      background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}
html{
  font-size: 16px;
}

/*upper box*/
.logo-container{
  height: 8vh;
  width: 100vw;
  background: linear-gradient(100deg, #1055C9, #000000, #41A67E 150%);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  z-index: 2;
}
.iamthecode-logo{
  position: absolute ;
  right: 1vw;
  width: auto;
  height: 220%;
  display: block;
}
.iamthecode-logo-main {
  position: absolute;
  left: 1vw;
  width: auto;
  height: 220%;
  display: block;
}
@media (max-width: 600px) {
  .iamthecode-logo{
    height: 200%;
  }
}
/*side menu*/
.menu-container{
  position: fixed;
  top:8vh;
  left: 0;
  height: 93vh;
  width:2.5vw;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  transition: 1s;
  z-index: 3;
}

.menu-box{
  height: 95vh;
  width: 0;
  display: flex;
  flex-direction: column;
 background: linear-gradient(120deg, #05339C, #000000);
  opacity: 90%;
  gap: 1vh;
  overflow: hidden;
  transition: 1s;
  align-items: center;
}
.menu-open-close{
  opacity: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 0.5rem 0.5rem 0;
  height: 1.4%;
  aspect-ratio: 1/1;
  background: #091380;
  position: absolute;
  right: 0;
  transition: 1s;
  font-size: 2vw;
  padding: 0;
  margin: 0;
  border: none;
  color: white;
  z-index: 4;
}
.menu-button{
  z-index: 6;
  display: flex;
  top: 3vh;
  background: none;
  border: none;
  position: relative;
white-space: nowrap;
font-size: 3vw ;
color: white;
font-family: serif, sans-serif;

}
/*side menu responsive*/
@media (max-width: 600px) {
  .menu-container{
    width: 7.5vw;
    z-index: 2;
  }
    .menu-button{
    font-size: 7vw ;}
    .menu-open-close{
      height: 4%;
      font-size: 7vw;
    }
  }
    
/*popup info*/
.popup-info-container{
  height: 30vh;
  width: 20vw;
  position: absolute;
  left: 0.09%;
  top: 55%;
  display: flex;
  justify-content: center;
  z-index: 3;
  pointer-events: none;
}
.menu-info-animation{
  height: 0;
  width: 90%;
  transition: 1s;
  position: absolute;
  display: flex;
  justify-content: center;
  overflow: hidden;
  pointer-events: auto;
}
.menu-info-box{
  height: 90%;
  width: 80%;
  background:#03368f;
  transition: 1s;
  position: absolute;
  overflow: hidden;
  overflow-y: scroll;
  word-break: break-all;
  font-size: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  justify-content: center;
  border-radius: 0 0 1rem 1rem;
}
/*info content*/
.menu-info-img{
  width: 100%;
  height: auto;
  border-radius: 1rem;
}
@media (max-width: 600px) {
  .popup-info-container{
    width: 68vw;
    height: 40vh;
  }
  .menu-info-box{
    font-size: 0.rem;
  }
}
/*button to next page*/
.next-page-container{
  position: absolute;
  left: 14%;
  top: 25%;
  width: 70%;
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
}
.next-page:hover{
    width: 95%;
  height: 35%;
  font-size: 30wv;
}
.next-page{
  font-size: 2.5vw;
  width: 100vw;
  aspect-ratio: 3/0.5;
  background-color: black;
 border: 1rem solid #032752;
 border-radius: 20rem;
 text-decoration: none ;
 display: flex;
 justify-content: center;
 align-items: center;
 color: white;
 transition: 1s;
}
@media (max-width: 600px) {
.next-page{
  width: 200vw;
  font-size: 5vw;
  border: 0.1rem solid #032752;
}
  }
    
/*2nd page journey button's*/
.journey-options-box{
  height: 90%;
  width: 90%;
    display: flex;
align-items: center;
justify-content: center;
  position: absolute ;
  gap: 2%;
  overflow: hidden;
  flex-wrap: wrap;
  padding: 2px;
  top: 8%;
  transition: 1s;
  left: 3%;
  scroll-behavior: smooth;
  
  
}


.journey-buttons{
  font-family: serif, sans-serif;
  width: 80%;
  background-color: #3674b5;
  aspect-ratio: 1.5/1;
  transition: 1s;
display: flex;
justify-content: center;
align-items: center;
background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-size: auto 100%;
  border-radius: 1rem;
    text-shadow: 
    1px 1px 0 black,
    1px 1px 0 black,
    1px 1px 0 black,   
    1px 1px 0 black;  
    color:white;
    overflow: hidden;
  font-size: 20%;
}


/*journey button's design*/
.journey-buttons:nth-child(1){
  margin-top: 65%;
  background-image: url(encounter.png);
  background-color: #FFD700;
  
}
.journey-buttons:nth-child(2){
  background-image: url(technical_setup.png);
  background-color: #C0C0C0;
  
}
.journey-buttons:nth-child(3){
  background-image: url(focus&absorb.png);
  background-color: #FFB700;
  
}
.journey-buttons:nth-child(4) {
  background-image: url(presence.png);
  background-color: #FFC107;
  
}
.journey-buttons:nth-child(5) {
  background-image: url(task_coordination.png);
  background-color: #DAF7A6;
  
}
.journey-buttons:nth-child(6) {
  background-image: url(accomplishment.png);
  background-color: #FFD700;
  
  margin-bottom: 65%;
}
.journey-buttons-link{
  text-decoration: none;
  padding: 100%;
  color: inherit;
}
.journey-buttons-animation{
  height: 100vh;
  width: 100vw;
  position: absolute;
  bottom: 0;
  right: 0;
  transition: 1s;
}




/*mobile view journey button's*/
@media (max-width: 600px) {
  .journey-buttons:nth-child(1){
    font-size: 10vw;
  }
    .journey-buttons:nth-child(2){
    font-size: 7vw;
  }
    .journey-buttons:nth-child(3){
    font-size: 8vw;
  }
    .journey-buttons:nth-child(4){
    font-size: 10vw;
  }
    .journey-buttons:nth-child(5){
    font-size: 6vw;
  }
    .journey-buttons:nth-child(6){
    font-size: 7vw;
  }
  .journey-options-box{
    overflow-y: scroll;
scroll-snap-align: y mandatory;
scroll-behavior: smooth;
left: auto;
  }
  .journey-buttons-animation{
    display: flex;
    justify-content: center;
  }
   .journey-buttons {
     animation-duration: 1s;
     scroll-snap-align: start;
     scroll-behavior: smooth;
     animation: buttons_animation both;
  animation-timeline: view();
  animation-range: entry 0% exit 100%;
  font-size: 20%;
  flex-direction: column;}
  
  @keyframes buttons_animation {
  0% {
    opacity: 0;
    width: 50%;
  font-size: 40%;
  }
  50% {
    opacity: 1;
    width: 80%;
    font-size: 100%;
  }
  100% {
    opacity: 0;
    width: 50%;
    font-size: 40%;
  }
}
  }

/*body journey page*/
 .journeypage-bg{
   font-family: serif, sans-serif;
   background: linear-gradient(135deg, #0015bc, #000000, #008001);
      background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  font-family: Arial, sans-serif;
 }
 
 /*journey's content*/


.journey-body{
  font-size: 12px;
  font-family: serif, sans-serif;
 background: linear-gradient(140deg, black 70%, white);
 background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

.journey-content{
width: 100vw;
height: 92vh;
position: absolute;
bottom: 0;
right: 0;
display: flex;
  flex-direction: column;
  align-items: center;
transition: 1s;
scroll-behavior: smooth;
}

.journey-content-bg{
  width: 91.1%;
  height: auto;
  display: flex;
  padding: 1rem;
align-items: center;
  text-indent: 5%;
  font-size: 1rem;
  border-radius: 1rem;
  margin: 1rem;
  flex-direction: column;
  color: white;
  position: relative;
}
.journey-content-bg::before {
  content: "";
  background: #202120;
  opacity: 60%;
  z-index: 0;
  position: absolute;
  inset: 0;
}
.journey-content-bg > * {
  position: relative;
  z-index: 1; 
}

.journey-img{
  width: 60%;
  height: auto;
  border-radius: 1rem;
  opacity: 100%;
}

.header-scroll-animation{
  animation: imganimation both;
  animation-timeline: view(50% 20%);
  animation-duration: 0.5s;
}

.img-scroll-animation{
  animation: imganimation both;
  animation-timeline: view(40% 20%); 
  animation-duration: 1s;
}

@keyframes imganimation {
 from{
    opacity: 0;
    scale: .95;
    translate: 0 4rem;
  }
  
  to{
    opacity: 1;
    scale: 1;
    translate: 0 0;
  }
}
.text-scroll-animation{
  animation: textanimation both;
  animation-timeline: view(30% 15%);
  opacity: 100%;
  animation-duration: 1.5s;
}

@keyframes textanimation {
  from {
  opacity: 0;
  scale: .95;
  translate: 0 4rem;
}

to {
  opacity: 1;
  scale: 1;
  translate: 0 0;
}
}

/*footer*/
.site-footer {
  
  width: 100%;
  background-color: #333;
  color: white;
  text-align: center;
  
  font-size: 0.9rem;
}

.site-footer a {
  color: #ffd859;
  text-decoration: none;
  margin: 0 10px;
}

.site-footer a:hover {
  text-decoration: underline;
}
/*back button*/
.back-button {
  height: auto;
  width: 15%;
  aspect-ratio: 2/1;
  background: darkblue;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1% solid black;
  border-radius: 1rem;
  margin-left: 2vw;
}
.back-link{
  font-size: 5vw;
  text-decoration: none;
  color: white;
}



