
/* main body*/

body{
  overflow-x: hidden;
}

.main{
  font-family: serif, sans-serif;
    background: linear-gradient(135deg, #b6ecfd, #79c9f6, #b6ecfd,  #79c9f6, #b6ecfd
    );
      background-repeat: no-repeat;
  
  background-size: 600vw 100vh;
  background-attachment: fixed;
  animation: main-bg-animation 30s ease infinite;
}
/*main background animation*/
@keyframes main-bg-animation {
  0%{
    background-position: 0% 50%;
  }
  
  50% {
  background-position: 100% 50%;
  }
  
  100% {
  background-position: 0% 50%;
}

}
html{
  font-size: 16px;
}

/*-----upper box-----*/
.logo-container{
  height: 8vh;
  width: 100vw;
  background: #52a9e8;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  z-index: 2;
}
.iamthecode-logo{
  position: absolute ;
  right: 1vw;
  width: auto;
  height: 220%;
  display: block;
}
.iamthecode-logo-main {
  position: absolute;
  left: 1vw;
  width: auto;
  height: 220%;
  display: block;
}

/*mobile view logo*/
@media (max-width: 600px) {
  .iamthecode-logo{
    height: 200%;
  }
}
/*-----side menu-----*/
.menu-container{
  position: fixed;
  top:8vh;
  left: 0;
  height: 93vh;
  width:2.5vw;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  transition: 1s;
  z-index: 3;
}

.menu-box{
  height: 95vh;
  width: 0;
  display: flex;
  flex-direction: column;
 background: linear-gradient(120deg, #52a9e8, #008DF3);
  opacity: 90%;
  gap: 1vh;
  overflow: hidden;
  transition: 1s;
  align-items: center;
}
.menu-open-close{
  cursor: pointer;
  opacity: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 0.5rem 0.5rem 0;
  height: 5.2%;
  aspect-ratio: 1/1;
  background: #008DF3;
  position: absolute;
  right: 0;
  transition: 1s;
  font-size: 2vw;
  padding: 0;
  margin: 0;
  border: none;
  color: white;
  z-index: 4;
}
.menu-button{
  cursor: pointer;
  z-index: 6;
  display: flex;
  top: 3vh;
  background: none;
  border: none;
  position: relative;
white-space: nowrap;
font-size: 3vw ;
color: white;
font-family: serif, sans-serif;
transition: 1s;
}
/*mobile view side menu*/
@media (max-width: 600px) {
  .menu-container{
    width: 7.5vw;
    z-index: 2;
  }
    .menu-button{
    font-size: 7vw ;}
    .menu-open-close{
      height: 4%;
      font-size: 7vw;
    }
    
  }
  
  /*hover/active menu*/
  /*mobile*/
      .menu-button:active {
      transition: 0.1ms;
      background: #091380;
      width: 90%;
      aspect-ratio: 1/0.05;
      border-radius: 1rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  .menu-open-close:active {
  background: #1055C9;
}

/*desktop*/
@media (hover: hover) and (pointer: fine) {
 .menu-button:hover{
   transition: 0.5s;
   font-size: 3.5vw;
   background: #091380;
   width: 91%;
   aspect-ratio: 2/0.30;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 1rem;
   color: #1055C9;
 }
.menu-open-close:hover{
  background: #1055C9;
  color: #091380 ;
}
}
    
/*-----popup info-----*/
.popup-info-container{
  height: 30vh;
  width: 20vw;
  position: fixed;
  left: 0.09%;
  top: 55%;
  display: flex;
  justify-content: center;
  z-index: 3;
  pointer-events: none;
}
.menu-info-animation{
  height: 0;
  width: 90%;
  transition: 1s;
  position: absolute;
  display: flex;
  justify-content: center;
  overflow: hidden;
  pointer-events: auto;
}
.menu-info-box{
  height: 90%;
  width: 81%;
  background:#03368f;
  transition: 1s;
  position: absolute;
  overflow: hidden;
  overflow-y: scroll;
  word-break: break-all;
  font-size: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  justify-content: center;
  border-radius: 0 0 1rem 1rem;
  color: white;
}

/*info content*/
.menu-info-img{
  width: 100%;
  height: auto;
  border-radius: 1rem;
}

/*mobile view menu info*/
@media (max-width: 600px) {
  .popup-info-container{
    width: 68vw;
    height: 40vh;
  }
  .menu-info-box{
    font-size: 0.rem;
  }
}
/*-----button to next page-----*/
.next-page-container{
  position: absolute;
  left: 5%;
  top: 15%;
  width: 50%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
  border: 1px solid black;
}

.next-page{
  font-size: 2vw;
 width: 1vw; 
  height: 10vw;
  background-color: #6bbaed;
 position: relative;
 border-radius: 20rem;
 text-decoration: none ;
 display: flex;
 justify-content: center;
 align-items: center;
 color: white;
 transition: 0.1s;
}


/*mobile view next page*/
@media (max-width: 600px) {
  .next-page {
    width: 40vw;
    font-size: 5vw;
  }
  
}

/*hover/active next-page*/

/*mobile*/

.next-page:before {
  content: "";
  position: absolute;
  z-index: -1;
  border-radius: inherit;
  width: 100%;
height: 100%;

  transform: translatey(15%);
  background: #008DF3;
  
}

.next-page:after{
  content: "";
  position: absolute;
  z-index: -2;
  border-radius: inherit;
  width: 100%;
height: 100%;
  padding: 1%;
  transform: translatey(15%);
  background: black;
}


/*desktop*/
@media (hover: hover) and (pointer: fine) {

}


/*=====2nd page=====*/
/*-----journey button's-----*/

/*body journey page*/
.journeypage-bg {
  font-family: serif, sans-serif;
  background: linear-gradient(135deg, #0015bc, #000000, #008001);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  font-family: Arial, sans-serif;
}

.journey-options-box{
  height: 50%;
  width: 50%;
    display: flex;
align-items: center;
  position: relative ;
  gap: 11%;
 
  z-index: 1;
  transition: 1s;
  scroll-behavior: smooth;
  overflow-x: scroll;
scroll-snap-type: x mandatory;
flex-direction: row;
  
}

.journey-options-box::scroll-button(left):disabled, .journey-options-box::scroll-button(right):disabled{
  opacity: 50%;
}

.journey-options-box::scroll-button(left), .journey-options-box::scroll-button(right){
  overflow: hidden;
  font-size: 3rem;
  z-index: 2;
  height:5vh;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background: #091380;
  border: 0.3rem solid white;
  color: white;
}

.journey-options-box::scroll-button(left){
  content: "‹";
  position: absolute;
  left: 15vw;  
}
.journey-options-box::scroll-button(right) {
  content: "›";
  position: absolute;
  right: 15vw;   
}


.journey-buttons{
  font-family: serif, sans-serif;
  flex: 0 0 80%;
  height: 80%;
  transition: 1s;
display: flex;
justify-content: center;
align-items: center;
background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  text-align: center;
  border-radius: 4rem;
    text-shadow: 
    1px 1px 0 black,
    1px 1px 0 black,
    1px 1px 0 black,   
    1px 1px 0 black;  
    color:white;
    overflow: hidden;
  scroll-snap-align: center;
  font-size: 500%;
}


/*journey button's design*/
.journey-buttons:nth-child(1){
  background-image: url(encounter.png);
  background-color: #FFD700;
  margin-left: 70%;
}
.journey-buttons:nth-child(2){
  background-image: url(technical_setup.png);
  background-color: #C0C0C0;
  
}
.journey-buttons:nth-child(3){
  background-image: url(focus&absorb.png);
  background-color: #FFB700;
  
}
.journey-buttons:nth-child(4) {
  background-image: url(presence.png);
  background-color: #FFC107;
  
}
.journey-buttons:nth-child(5) {
  background-image: url(task_coordination.png);
  background-color: #DAF7A6;
  
}
.journey-buttons:nth-child(6) {
  background-image: url(accomplishment.png);
  background-color: #FFD700;
  margin-right: 70%;
}
.journey-buttons-link{
  text-decoration: none;
  padding: 100%;
  color: inherit;
}
.journey-buttons-animation{
  height: 100vh;
  width: 100vw;
  position: absolute;
  bottom: 0;
  right: 0;
  transition: 1s;
  display: flex;
  align-items: center;
  justify-content: center;
}




/*mobile view journey button's*/
@media (max-width: 600px) {
  
  .journey-options-box::scroll-button(left), .journey-options-box::scroll-button(right){
    display: none;
  }
  
.journey-buttons:nth-child(1) {
  margin-top: 70%;
  margin-left: 0;
}
.journey-buttons:nth-child(6) {
  margin-bottom: 70%;
  margin-right: 0;
}
  .journey-options-box{
    border: none;
    top: 8%;
height: 90%;
width: 90%;
left: 3%;
    gap: 5%;
  
    overflow-y: scroll;
scroll-behavior: smooth;
scroll-snap-type: y mandatory;
flex-direction: column;
align-items: center;
  }
  .journey-buttons-animation{
    display: flex;
    justify-content: center;
align-items: unset;
  }
   .journey-buttons {
     font-size: 200%;
     border-radius: 2rem;
     flex: 0 0 25%;
     width: 80%;
     animation-duration: 1s;
     scroll-snap-align: center;
     animation: buttons_animation both;
  animation-timeline: view();
  animation-range: entry 0% exit 100%;}
  
  @keyframes buttons_animation {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  60% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0);;
  }
}
  }
  /*hover/active journey option*/
/*mobile*/
.journey-options-box::scroll-button(left):active {
  background: #4650C4;
  color: #091380;
  border: 0.3rem solid #091380;
}

.journey-options-box::scroll-button(right):active {
  background: #4650C4;
  color: #091380;
  border: 0.3rem solid #091380;
}

/*desktop*/
@media (hover: hover) and (pointer: fine) {
.journey-options-box::scroll-button(left):hover{
  background: #4650C4;
  color: #091380;
  border: 0.3rem solid #091380;
}

.journey-options-box::scroll-button(right):hover{
  background: #4650C4;
  color: #091380;
  border: 0.3rem solid #091380;
}
}
 /*-----journey's content-----*/


.journey-body{
  font-size: 12px;
  font-family: serif, sans-serif;
 background: linear-gradient(140deg, black 70%, white);
 background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  overflow-x: hidden;
}

.journey-content1, .journey-content2, .journey-content3, .journey-content4, .journey-content5, .journey-content6{
width: 100vw;
height: 92vh;
position: absolute;
bottom: 0;
right: 0;
display: flex;
  flex-direction: column;
  align-items: center;
transition: 1s;
scroll-behavior: smooth;
}

.journey-content1:nth-child(1) .journey-content-bg:nth-child(1) .journey-img:nth-child(1) {
  width: 70%;
}

.journey-content-bg{
  width: 70%;
  height: auto;
  display: flex;
  padding: 1.5rem;
  font-size: 2rem;
  border-radius: 1rem;
  margin: 1rem;
  flex-direction: column;
  color: white;
  position: relative;
}



.journey-content-bg:before {
  content: "";
  background: #202120;
  opacity: 60%;
  z-index: 0;
  position: absolute;
  inset: 0;
}
.journey-content-bg > * {
  position: relative;
  z-index: 1; 
}

.journey-img{
  display: flex;
  align-self: center;
  width: 20%;
  height: auto;
  border-radius: 1rem;
  opacity: 100%;
}
h1, h2{
 text-align: center;
 text-indent: 0;

}
.indent{
  text-indent: 1rem;
}


.header-scroll-animation{
  animation: imganimation both;
  animation-timeline: view(50% 20%);
  animation-duration: 0.5s;
}

/*content style*/
.journey-content-bg p{
  display: flex;
  align-self: flex-start;
}

.img-scroll-animation{
  animation: imganimation both;
  animation-timeline: view(40% 20%); 
  animation-duration: 1s;
}

@keyframes imganimation {
 from{
    opacity: 0;
    scale: .50;
    translate: 0 4rem;
  }
  
  to{
    opacity: 1;
    scale: 1;
    translate: 0 0;
  }
}
.text-scroll-animation{
  animation: textanimation both;
  animation-timeline: view();
animation-range: entry 0% exit 5%;
  opacity: 100%;
  animation-duration: 1.5s;
  text-indent: 0;
}

@keyframes textanimation {
  from {
  opacity: 0;
  scale: .95;
  translate: 0 4rem;
}

to {
  opacity: 1;
  scale: 1;
  translate: 0 0;
}
}

/*-----footer-----*/
.site-footer {
  padding: 2% 0 2% 0;
  width: 100vw;
  background-color: #333;
  color: white;
  text-align: center;
  white-space: nowrap;
  font-size: 1rem;
  text-indent: 0;
}

.site-footer a {
  color: #ffd859;
  text-decoration: none;
  margin: 0 10px;
  cursor: pointer;
}

.site-footer a:hover {
  text-decoration: underline;
}

@media (max-width: 600px) {
  
}
/*-----back button-----*/
.back-button {
  height: auto;
  width: 6%;
  aspect-ratio: 2/1;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.1rem solid #05155F;
  border-radius: 2rem;
  margin-left: 2vw;
  position: relative;
  transition-timing-function: 0.5s ease ;
  overflow: hidden;
}
.back-button::before {
  content: "Back";
  position: absolute;
  inset: 0;  
  color: #05155F;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  transition: 0.3s;
    z-index: -1;
    font-size: 2vw;
    
}

.back-link {
  position: relative;
  font-size: 0;
  text-decoration: none;
  height: 20vh;
  width: 20vw;
}

/*hover/active back button*/

/*mobile*/
.back-button:active {
  border: 0.1rem solid white;
}
.back-button:active::before {
  content: "‹";
  font-size: 200%;
  color: white;
  border-radius: 1rem;
  z-index: -1;
  transition: 0.3s;
}

/*desktop*/
@media (hover: hover) and (pointer: fine) {
.back-button:hover{
  border: 0.1rem solid white;
}
.back-button:hover::before {
  content: "‹";
  font-size: 3vw;
  color: white;
  z-index: -1;
  transition: 0.3s;
}

}

/*scroll style*/
::-webkit-scrollbar {
  width: 0.8vw; 
}


::-webkit-scrollbar-track {
  background-color: #062452;
  border-radius: 1rem;
}

::-webkit-scrollbar-thumb {
  background-color: #2057ab;
   border-radius: 1rem;

}


.journey-body::-webkit-scrollbar-thumb{
   background-color: #1c1c1c;
   border-radius: 1rem;
   
}

.journey-body::-webkit-scrollbar-track {
  background-color: #363636;
  border-radius: 0;
  
}
 /*hover/active scroll*/

/*mobile*/
::-webkit-scrollbar-thumb:active {
  background-color: #020b1a;
}
.journey-body::-webkit-scrollbar-thumb:active {
  background-color: black;
}
/*desktop*/
@media (hover: hover) and (pointer: fine) {
::-webkit-scrollbar-thumb:hover {
  background-color: #020b1a;
}
.journey-body::-webkit-scrollbar-thumb:hover {
  background-color: black;
}
}

@media (max-width: 600px) {
  .journey-options-box::-webkit-scrollbar-track {
  display: none;
}

.journey-options-box::-webkit-scrollbar-thumb {
  display: none;

}
}
